@model TrikProjekt56.Models.Case

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div style="width:100%;">
        <div class="card-header cardHeader text-uppercase text-center">
            Delete case
        </div>
        <form asp-action="Delete">
            <div class="col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" readonly />
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" readonly />
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" readonly />
                    </div>
                    <div class="form-group col-6">
                            <label class="form-check-label">@Html.DisplayNameFor(model => model.isClosed)</label>
                            <br>
                            <input type="checkbox" class="form-check-input mt-2" style="margin-left:0px !important; height:35px !important;" asp-for="isClosed" disabled/>
                    </div>
                </div>
            </div>
            <div class="form-group btn-group col-12 mt-1">
                <div class="col-4 mt-1">
                    <input type="submit" value="Delete" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-pageIndex="@TempData.Peek("CurrentPage")" class="btn btn-primary btn-block" />
                </div>
                <div class="col-4 mt-1">
                    <a class="btn btn-secondary btn-block" asp-action="Index" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-pageIndex="@TempData.Peek("CurrentPage")">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationPartial");}
}