@model TrikProjekt56.Models.Case
@{
    ViewData["Title"] = "Details";
}

<h1>Case Details</h1>

<div class="col-11 mx-auto pt-0 p-0">
    <div class="card">
        <form>
            <div class="col-9">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" readonly />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                     <div class="form-group col-6">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" readonly />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <input asp-for="@Model.Categories.Name" class="form-control" readonly />
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="LocationId" class="control-label"></label>
                        <input asp-for="@Model.Locations.Name" class="form-control" readonly />
                        <span asp-validation-for="LocationId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="AgeId" class="control-label"></label>
                        <input asp-for="@Model.Ages.Name" class="form-control" readonly />
                        <span asp-validation-for="AgeId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="HairId" class="control-label"></label>
                        <input asp-for="@Model.Hairs.Name" class="form-control" readonly />
                        <span asp-validation-for="HairId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DistFeatureId" class="control-label"></label>
                        <input asp-for="@Model.DistFeatures.Name" class="form-control" readonly />
                        <span asp-validation-for="DistFeatureId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="CorpseId" class="control-label"></label>
                        <input asp-for="@Model.Corpses.Name" class="form-control" readonly />
                        <span asp-validation-for="CorpseId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="EducationId" class="control-label"></label>
                        <input asp-for="@Model.Educations.Name" class="form-control" readonly />
                        <span asp-validation-for="EducationId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="HeightId" class="control-label"></label>
                        <input asp-for="@Model.Heights.Name" class="form-control" readonly />
                        <span asp-validation-for="HeightId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="WeightId" class="control-label"></label>
                        <input asp-for="@Model.Weights.Name" class="form-control" readonly />
                        <span asp-validation-for="WeightId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group btn-group col-12 mt-1">
                <div class="col-4 mt-1">
                    <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@Model.Code">Edit</a>
                </div>
                <div class="col-4 mt-1">
                    <a class="btn btn-secondary btn-block" asp-action="Index" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-pageIndex="@TempData.Peek("CurrentPage")">Back</a>
                </div>
                <div class="form-group col-4 form-check mt-2">
                        <input type="checkbox" class="form-check-input" asp-for="isClosed" disabled/>
                        <label class="form-check-label ml-2">@Html.DisplayNameFor(model => model.isClosed)</label>
                </div>
            </div>
        </form>
    </div>
</div>